<div ng-controller="BootcampsController">
    <div>
        <h1>BOOTCAMPS</h1>
        <button class="btn btn-warning btn-sm" ng-click="post()" role="button">add bootcamp</button>
    </div>
    <div>

    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-8 col-lg-10">
            <div class="left">
                <div class="post-container" ng-repeat="b in bootcamps"> <a   ng-href="/bootcamps/{{ b.id }}">
                        <h3>{{ b.name }}</h3>
                        <h5><br> {{ b.stack }} <br> <br> $ {{ b.cost }} <br></h5> 
                        <h5>{{ b.city }}, {{ b.state }}</h5>
                    <br></a>
                </div>
                <div>
                    <button class="btn btn-warning btn-sm" ng-href="#" ng-click="post()" role="button">add review</button>
                </div>
            </div>
        </div>
    </div>
</div>