<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <h1 style="color: orange; text-align: center">BOOTCAMPS</h1>
        </div>
    </div>
    <div class="row" style="padding-left: 1%">
        <div class="col-xs-2 col-sm-2 col-lg-3" style="margin-left: 1.5%; margin-right: -2%">
            <div class="post-container" style="background-color:rgba(255, 255, 0, .1); margin-top: 5%">
                <form class="my-form" style="margin-left: 3.5%">
                    <h4 style="color: orange; text-shadow: 1px 1px darkmagenta; text-align: center">ADD A BOOTCAMP</h1>

                        <div class="form-group ">
                            <input class="form-control " type="text " ng-model="bootcamp.name
                                    " placeholder="Name ">
                        </div>


                        <div class="form-group ">
                            <input class="form-control " type="text " ng-model="bootcamp.city
                                    " placeholder="City ">
                        </div>

                        <div class="form-group ">
                            <input class="form-control " type="text " ng-model="bootcamp.state
                                    " placeholder="State (abbreviated) ">
                        </div>
                        <div class="form-group ">
                            <input class="form-control " type="text " ng-model="bootcamp.cost
                                    " placeholder="How much does the program cost? ">
                        </div>

                        <div class="form-group ">
                            <textarea class="form-control " ng-model="bootcamp.stack " placeholder="What languages and software programs are taught?"></textarea>
                        </div>
                        <div style="text-align: center">
                            <input class="btn btn-warning " value="ADD" ng-click="saveBootcamp()">
                            <!-- <input class="btn btn-warning " value="ADD" ng-click="saveBootcamp()
                                    " data-dismiss="modal "> -->
                        </div>
                </form>
                <br>
                <br>
                <div>
                    <iframe id="ytplayer" type="text/html" width="308" height="175" src="https://www.youtube.com/embed?listType=search&list=CODINGSCHOOL"
                    frameborder="0"></iframe>
                    <iframe id="ytplayer" type="text/html" width="308" height="175" src="https://www.youtube.com/embed?listType=search&list=CODING"
                    frameborder="0"></iframe>
                </div>
            </div>
        </div>


        <div class="col-xs-10 col-sm-10 col-lg-6">
            <div class="post-container " ng-repeat="b in bootcamps">
                <p>

                    <h3 style="color: darkmagenta">{{ b.name | uppercase }}</h3>
                    <a ng-href="/bootcamps/{{ b.id }}" style="background: none !important">
                        <h5 style="color: darkmagenta">{{ b.city  | uppercase }}, {{ b.state  | uppercase }}</h5>
                        <h5 style="color: darkmagenta"></h5>

                        <br>

                        <h5 style="color: darkmagenta">${{ b.cost }}</h5>
                        <h5 style="color: darkmagenta; font-weight: normal">{{ b.stack  }}</h5>
                        </h5>
                </p>

                <br>
                </a>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-3" style=" margin-left: -2%; margin-top: -.3%">

            <div class="post-container" style="color: orange; text-shadow: 1px 1px darkmagenta; background-color:rgba(255, 255, 0, .1); margin-top: 5%; text-align: center">
                <h4>BOOTCAMP REVIEWS</h4>                    
                <iframe id="ytplayer" type="text/html" width="305" height="179" src="https://www.youtube.com/embed?listType=search&list=CODINGBOOTCAMP"
                    frameborder="0"></iframe>
                <iframe id="ytplayer" type="text/html" width="305" height="179" src="https://www.youtube.com/embed?listType=search&list=CODEBOOTCAMPREVIEW"
                    frameborder="0"></iframe>

                    <iframe id="ytplayer" type="text/html" width="305" height="179" src="https://www.youtube.com/embed?listType=search&list=CODER"
                    frameborder="0"></iframe>
                    <iframe id="ytplayer" type="text/html" width="305" height="179" src="https://www.youtube.com/embed?listType=search&list=JUNIORDEVELOPER"
                    frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>