<div class="careers-body">
        <h1>CAREERS</h1>

        <div class="container">
            <h1 class="center-align">
              Looking for a Technical Position 
            </h1>
        
            <!-- <input type="text"> -->
            <select id="list">
              <option value="Application Systems Analyst I">Application Systems Analyst I</option>
              <option value="Application Systems Analyst II">Application Systems Analyst II</option>
              <option value="Big Data Engineeer/Architect">Big Data Engineeer/Architect</option>
              <option value="Business System Analyst I">Business System Analyst I</option>
              <option value="Business Data Analyst II">Business Data Analyst II</option>
              <option value="Cloud Developer">Cloud Developer</option>
              <option value="Computer System Analyst">Computer System Analyst</option>
              <option value="Database Development">Database Development, Administration and Business Intellience</option>
              <option value="Data Security Analyst">Data Security Analyst</option>
              <option value="DevOps Engineer">DevOps Engineer</option>
              <option value="Enterprise Systems Analyst">ERP Analyst – Junior</option>
              <option value="Entry Level Software Developer">Entry Level Software Developer</option>
              <option value="FACETS Analyst">FACETS Analyst</option>
              <option value="Full Stack Developers">Full Stack Developers</option>
              <option value="Governance Risk and Compliance Auditor">Governance Risk and Compliance Auditor</option>
              <!-- <option value="Information Technology Auditor I">Information Technology Auditor I</option> -->
              <option value="Information Security Software Developers">Information Security Software Developer</option>
              <!-- <option value="Junior Software Developer">Junior Software Developer</option> -->
              <option value="JavaScript Developers">JavaScript Developers</option>
              <option value="Mainframe Programmer">Mainframe Programmer</option>
              <option value="Mobile App Developers">Mobile App Developers</option>
              <option value="Network Engineer-Junior">Network Engineer-Junior</option>
              <option value=".NET Developer">.NET Developer</option>
              <option value="Operating Systems Programmer I">Operating Systems Programmer I</option>
              <option value="PLC Programmer">PLC Programmer</option>
              <!-- <option value="Portfolio Analyst">Portfolio Analyst</option> -->
              <option value="Quality Systems Engineer">Quality Systems Engineer</option>
              <option value="Ruby Developers">Ruby Developers</option>
              <!-- <option value="Software Engineer">Software Engineer</option> -->
              <option value="SQL Server Database Administrative">SQL Server Database Administrative</option>
              <option value="Test Driven Web Developer">Test Driven Web Developer</option>
              <option value="UX/UI Developers">UX/UI Developers</option>
              <option value="Value Stream Engineer">Value Stream Engineer</option>
              <option value="Web Services Developer">Web Services Developer</option>
        
        
        
        
            </select>
            <ul id="names" class="collection with-header">
              <!-- onchange="getSelectValue()" -->
              <li class="collection-header">
                <h5>A</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Application-Systems-Analyst-jobs.html">Application Systems Analyst I</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/applications-systems-analyst-i-salary-SRCH_KO0,30.htm">Salaries</a>
                <p>Requirements and Responsibilities: Responsible for planning, designing and implementing information systems. Performs
                  encoding, testing debugging and installation activities. Consults with users to identify current operating procedures
                  while Assisting in writing manuals for users operating procedures. Relies on established guidelines and instructions
                  to perform daily job functions. Typically reports to a project leader or manager. Works on projects/matters of
                  limited complexity in a support role. Work is closely managed. May require a bachelor's degree or its equivalent.
                  Typically requires 0-2 years of related experience.
                </p>
        
              </li>
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Application+Systems+Analyst&matchtype=b&network=g&
                device=c&devicemodel=&creative=209821122138&keyword=&placement=&param1=&param2=&random=
                10313502190274767571&aceid=&adposition=1o3&gclid=Cj0KCQjwyvXPBRD-ARIsAIeQeoE6HuYjITuee899ZCMC
                tU6PVhMMknh5JP7A2LP0CMxJBSMPeZg0pKYaAqOqEALw_wcB">Application Systems Analyst II</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/applications-systems-analyst-ii-salary-SRCH_KO0,31.htm">Salaries</a>
                <p>Requirements and Responsibilities: Responsible for planning, designing and implementing information systems. Performs
                  encoding, testing debugging and installation activities. Consults with users to identify current operating procedures
                  while Assisting in writing manuals for users operating procedures. Relies on limited knowledge and profession discretion
                  to achive goals. Works under general supervision. Flexibility is required. May require a bachelor's degree or its
                  equivalent. Typically requires 2-5 years of related experience.</p>
              </li>
        
              <li class="collection-header">
                <h5>B</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.glassdoor.com/Salaries/business-systems-analyst-salary-SRCH_KO0,24.htm">Business System Analyst I</a>
                <br>
                <a href="#">Salaries</a>
                <p>Requirements and Responsibilities: Reviews, analyzes, and evaluates user needs to create systems solutions that support
                  overall business strategies. Documents system requirements, defines scope and objectives, and assists in the creation
                  of system specifications that drive system development and implementation. Incumbents function as a liaison between
                  IT and users and have both business and technical expertise. Typically requires a bachelor's degree or its equivalent.
                  Typically reports to a manager. Works on projects/matters of limited complexity in a support role. Work is closely
                  managed. Typically requires 0-2 years of related experience.</p>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Big-Data-Engineer-Architect-jobs.html">Big Data Engineeer/Architect</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/big-data-architect-salary-SRCH_KO0,18.htm">Salaries</a>
                <p>Requirements and Responsibilities: Provides clean, usable data to clients. Ensures that data is repeatable and secure. Builds high-performance 
                  algorithms and proof of concepts. Requires a bachelor's degree in the area of specialty and 3-5 years of relevent experience.
                </p>
                
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Business+Data+Analyst+II&l=">Business Data Analyst II</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/business-data-analyst-ii-salary-SRCH_KO0,24.htm">Salaries</a>
                <p> Requirements and Responsibilities: Analyze data using a variety of techniques. Plans and executes and monitors business solutions. Works directly with clients, 
                  projects and business leaders to identify analytical requirements. Works under general supervision. Requires a bachelor's 
                  degree. Typically requires 2-4 years of related experience.</p>
              </li>
        
              <li class="collection-header">
                <h5>C</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Cloud-Developer-jobs.html">Cloud Developer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/cloud-developer-salary-SRCH_KO0,15.htm">Salaries</a>
                <p>Requirements and Responsibilities: A Cloud Developer will work in a small development team and will 
                  take responsibility for certain parts of the development cycle including implementing specified features, 
                  usability testing, and writing documentation. They will be required to work on both internal and external
                   projects under the supervision of a senior cloud developer. 
                   • Basic understanding of both HTML and CSS
                   • Basic understanding of Ruby on Rails or similar MVC framework
                   • Basic knowledge of SQL and relational databases
                   • Basic knowledge of Javascript a bonus but not required (jQuery or Coffeescript preferred)
                   • Basic understanding of version control, specifically Git
                   • Basic understanding of Agile development practices preferred
                   Typically requires a bachelor's degree and a minimum of 5 years of related experience.
                </p>
        
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Computer-Systems-Analyst-jobs.html">Computer System Analyst</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/systems-analyst-salary-SRCH_KO0,15.htm">Salaries</a>
                <p>Requirements and Responsibilities: Consult with colleagues about their IT needs.
                    Research hardware and software technologies to decide if they offer improvements.
                    Help the management team decide if IT systems and infrastructure upgrades make business sense.
                    Develop new functionality for existing computer systems. Select and install new software and hardware systems.
                    Oversee new system installation and setup, and customize them for business needs. Run tests on systems.
                    Train end users and write instruction manuals as necessary.
                    Knowledge of and experience with distributed networking concepts.
                    Experience using computer aided software engineering tools and applications.
                    Deep knowledge of hardware and software applications
                    Bachelor degree or master degree in computer science or related field.
                    Typically 3-5 years relevant experience.
                </p>
        
              </li>
        
        
              <li class="collection-header">
                <h5>D</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Devops-Engineer-jobs.html">DevOps Engineer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/devops-engineer-salary-SRCH_KO0,15.htm">Salaries</a>
                <p>Requirements and Responsibilities: Deploying, automating, maintaining and managing AWS cloud based production system,
                    to ensure the availability, performance, scalability and security of productions systems.
                    Build, release and configuration management of production systems.
                    Typically 2+ years With AWS 
                    and a bachelor's degree in Computer Science or other equivalent technical discipline.  
                </p>
        
              </li>
        
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Database-Developer-jobs.html">Database Development</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/database-developer-salary-SRCH_KO0,18.htm">Salaries</a>
                <p>Requirements and Responsibilities: Design and deploy data table structures, forms, reports, and queries.
                    Conduct research and make recommendations on database products, services, protocols, and
                    standards in support of procurement and development efforts.
                    Applying third party upgrades to existing databases.
                    Coordinate and work with other technical staff to develop relational databases and secondary
                    databases (i.e. Access).
                    Identify inefficiencies in current databases and investigate solutions.
                    Diagnose and resolve database access and performance issues.
                    Plan and coordinate data migrations between systems.
                    Develop, implement, and maintain change control and testing processes for modifications to
                    databases.
                    Typically 2+ years and a bachelor's degree 
                </p>
        
              </li>
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Data+Security+Analyst&l=">Data Security Analyst</a>
                <br>
                <a href="https://www1.salary.com/Data-Security-Analyst-Salary.html">Salaries</a>
                <p>Requirements and Responsibilities: Data security analysts must possess a thorough understanding
                   of all aspects of computer and network security, including such areas as firewall administration, 
                   encryption technologies and network protocols.
                    Analysts need strong oral and written communication, analytical and problem-solving skills, 
                    as well as excellent judgment and self-motivation.
                    Data security analysts typically work under the supervision of an information technology
                    manager. Most data security jobs require a bachelor's degree.
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>E</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Junior-Erp-Analyst-jobs.html">ERP Analyst – Junior</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/erp-analyst-salary-SRCH_KO0,11.htm">Salaries</a>
                <p>Requirements and Responsibilities: Helps with the implementation and ongoing maintenance of the 
                  Enterprise Resource Planning (ERP) system. Tests ERP layout to ensure the system is meeting the businesses’
                   needs. Customizes and configures workflow to facilitate ERP integration with other applications. 
                   Relies on established guidelines and instructions to perform daily job functions. Works under immediate 
                   supervision and usually reports to a supervisor. May require a bachelor’s degree and 0–2 years of relevant experience.
                    
                    
        
                </p>
        
              </li>
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Entry-Level-Software-Developer-jobs.html">Entry Level Software Developer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/entry-level-software-developer-salary-SRCH_KO0,30.htm">Salaries</a>
                <p>Requirements and Responsibilities: 
                    Designs and develops software applications. Performs coding, debugging, testing and troubleshooting 
                    throughout the application development process. Requires a bachelor's degree. Typically reports to 
                    a manager. Works on projects/matters of limited complexity in a support role. Work is closely managed. 
                    Typically requires 0-2 years of related experience.
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>F</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Facets-Analyst-jobs.html">FACETS Analyst</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/facets-systems-analyst-salary-SRCH_KO0,22.htm">Salaries</a>
                <p>Requirements and Responsibilities: Implements complex  new configuration changes and requirements into 
                  the FACETS application including analysis, design, buid and test. Reports to Applications Director. Requires a 
                  bachelor's degree and 3-5 years of experience.
        
                </p>
        
              </li>
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Full-Stack-Developer-jobs.html">Full Stack Developers</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/full-stack-web-developer-salary-SRCH_KO0,24.htm">Salaries</a>
                <p>Requirements and Responsibilities: A Full Stack developer is responsible for front and back-end web development.
                    Design overall architecture of the web application.
                    Maintain quality and ensure responsiveness of applications.
                    Collaborate with the rest of the engineering team to design and launch new features.
                    Experience working with graphic designers and converting designs to visual elements.
                    Understanding and implementation of security and data protection.
                    Highly experienced with back-end programming languages.
                    Proficient experience using advanced JavaScript libraries and frameworks such as AngularJS,
                    KnockoutJS, BackboneJS, ReactJS, DurandalJS etc.
                    Proficient in My SQL.
                    Development experience for both mobile and desktop.
                    Understanding of server-side languages 
                    Experience with cloud message APIs and usage of push notifications.
                    Knowledge of code versioning tools such as Git.
                    Bachelor degree in Web development or related field, or relevant experience.
                    
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>G</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=governance+risk+compliance&l=">Governance Risk and Compliance Auditor</a>
                <br>
                <a href="http://www.glassdoor.com/Salaries/risk-and-compliance-analyst-salary-SRCH_KO0,27.htm">Salaries</a>
                <p>Requirements and Responsibilities: 
                    Maintain IT risk identification, mitigation and acceptance processes in coordination 
                    with security and IT operations. Works with business and functional areas to perform 
                    risk assessments and make appropriate risk treatment decisions.
                    Help design, deploy and maintain the IT general control framework.
                    Maintenance and reporting of key information security metrics and reports for both 
                    operational management and corporate executives.
                    Maintain security awareness training materials and provide education/awareness for end-user 
                    community, managers and executive management. 
                    Perform IT risk mitigation and remediation to address IT control deficiencies and IT risks 
                    identified through IT audits or IT risk assessments.
                    Monitors regulatory environment for impact on security and IT risk programs and initiatives. 
                    Bachelor’s degree in computer science, information systems, engineering, business administration
                     or a related field is required.
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>H</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Help+Desk+Support&l=">Help Desk Support</a>
                <br>
                <a href="http://www.glassdoor.com/Salaries/help-desk-support-salary-SRCH_KO0,17.htm">Salaries</a>
                <p>Requirements and Responsibilities:
                    Provide helpdesk support and resolve problems to the end user’s satisfaction.
                    Monitor and respond quickly and effectively to requests received through the IT helpdesk.
                    Monitor Service Desk for tickets assigned to the queue and process first-in first-out based on
                    priority.
                   Modify configurations, utilities, software default settings, etc. for the local workstation.
                   Utilize and maintain the helpdesk tracking software.
                     Document internal procedures.
                     Assist with onboarding of new users.
                    Bachelor’s Degree in Information Systems, Business, Communications or related field
                    2 years of relevant technical experience
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>I</h5>
              </li>
              <!-- <li class="collection-item">
                <a href="#">Information Technology Auditor I</a>
                <br>
                <a href="http://www.glassdoor.com/Salaries/information-technology-auditor-i-salary-SRCH_KO0,32.htm">Salaries</a>
                <p>Requirements and Responsibilities:
        
                </p> -->
        
              </li>
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Information+Security+Software+Developers&l=">Information Security Software Developer</a>
                <br>
                <a href="http://www.glassdoor.com/Salaries/security-software-developers-salary-SRCH_KO0,28.htm">Salaries</a>
                <p>Requirements and Responsibilities:
                    
                    Direct experience with anti-virus software, intrusion detection, firewalls and content filtering
                    Knowledge of risk assessment tools, technologies and methods
                    Experience designing secure networks, systems and application architectures
                    Knowledge of disaster recovery, computer forensic tools, technologies and methods
                    Experience planning, researching and developing security policies, standards and procedures
                    Professional experience in a system administration role supporting multiple platforms and applications
                    Ability to communicate network security issues to peers and management
                    Ability to read and use the results of mobile code, malicious code, and anti-virus software
                    
                </p>
        
              </li>
              <li class="collection-header">
                <h5>J</h5>
              </li>
        
             
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=javascript+developer&l=">JavaScript Developers</a>
                <br>
                <a href="http://www.glassdoor.com/Salaries/javascript-developers-salary-SRCH_KO0,21.htm">Salaries</a>
                <p>Requirements and Responsibilities: Develop new user-facing features
                    Build reusable code and libraries for future use.
                    Ensure the technical feasibility of UI/UX designs.
                    Optimize applications for maximum speed and scalability.
                    Assure that all user input is validated before submitting to back-end services.
                    Collaborate with other team members and stakeholders.
                    Strong understanding of JavaScript, its quirks, and workarounds.
                    Basic understanding of web markup, including HTML5 and CSS3.
                    a developer should have the knowledge of advanced JavaScript libraries and frameworks 
                    such as AngularJS, KnockoutJS, BackboneJS, ReactJS, DurandalJS etc.
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>K</h5>
              </li>
        
              <!-- <li class="collection-item">
                <a href="#">NAME</a>
                <br>
                <!-- <a href="#">Salaries</a> -->
              <!-- <p>Requirements and Responsibilities: -->
        
              </p>
        
              </li>
        
              <li class="collection-header">
                <h5>L</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=LAN+Support&l=">LAN Support</a>
                <br>
                <a href="https://www1.salary.com/LAN-Support-I-Salaries.html">Salaries</a>
                <p>Requirements and Responsibilities: A local area network (LAN) technician provides support
                   and maintenance to local area computer networks. An individual in this position ensures
                    that the network runs smoothly and remains connected at all times. LAN technicians typically
                     require a college degree or technical certification.
                     Associate's or bachelor's degree in computer science or similar field
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>M</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Mainframe+Programmer&l=">Mainframe Programmer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/mainframe-developer-salary-SRCH_KO0,19.htm">Salaries</a>
                <p>Requirements and Responsibilities: Reviews, analyzes, and modifies programming systems
                   including encoding, testing, debugging and installing for a large-scale mainframe computer system. 
                   Maintains and develops online and batch application programs. Develops and implements a disaster 
                   recovery plan. Works with project members to develop specifications, diagrams and flowcharts. 
                   May require a bachelor's degree. Typically reports to a project leader or manager. 
                   Works on projects/matters of limited complexity in a support role. Work is closely managed. 
                   Typically requires 0-2 years of related experience.
                    
        
                </p>
        
              </li>
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Mobile+App+Developers&l=">Mobile App Developers</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/mobile-app-developers-salary-SRCH_KO0,21.htm">Salaries</a>
                <p>Requirements and Responsibilities: Application developers use programming languages 
                  and source code to create software that meets client requirements. Developers may
                   work with multiple programming languages and operating systems. Requirements vary for 
                   developers depending on the employer, but a bachelor's degree is typically the minimum
                    requirement for career entry. Some advanced positions may require a master's degree. 
                    Employers tend to prefer hiring application developers with work experience in the field, 
                    which can be gained through an internship.
        
                </p>
        
              </li>
              <li class="collection-header">
                <h5>N</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Network+Engineer+-+Junior&l=">Network Engineer - Junior</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/junior-network-engineer-salary-SRCH_KO0,23.htm">Salaries</a>
                <p>Requirements and Responsibilities: A junior network engineer normally assists with the management and 
                  maintenance of the communication system, such as phone switches. Also responsible in assisting with the conception
                   of new employed communication as well as voicemail extensions even with routing extensions to appropriate
                    places and updating details as the assignments change.
                    A junior network engineer is responsible for setting up and maintaining the computer locations 
                    and software for every Etensity training program. 
                    A junior network engineer is responsible in providing support company applications; internal company servers, 
                    user desktops, etc. Assistance is also needed when it involved with basic troubleshooting, 
                    backup, along with archiving. A junior network engineer is in charge in creating network and email 
                    accounts for new users in the company. 
                </p>
        
              </li>
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=.NET+Developer&l=">.NET Developer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/net-developer-salary-SRCH_KO0,13.htm">Salaries</a>
                <p>Requirements and Responsibilities: .Net Developer involves the analysis, design, development,
                   maintenance, testing, implementation, training, and support of various business applications 
                   using Microsoft technologies. Ideal candidates for .Net Developer positions should have an 
                   excellent understanding of object-oriented design and development techniques, enthusiasm for 
                   design and development work, a strong analytical aptitude, persistence in problem resolution,
                    attention to detail and commitment to quality.
        
                </p>
        
              </li>
              <li class="collection-header">
                <h5>O</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Operating+Systems+Programmer+&l=">Operating Systems Programmer I </a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/operating-systems-programmer-salary-SRCH_KO0,28.htm">Salaries</a>
                <p>Requirements and Responsibilities: Prepares system software installation by studying 
                  software capabilities and operations, including task scheduling, memory management, 
                  file system, and input and output requirements.
                    Installs system software by loading software into computer.
                    Detects work stoppage or errors by conducting tests; monitoring output.
                    Corrects work stoppages or errors by entering code changes.
                    Optimizes system efficiency by analyzing performance indicators; changing software.
                    Maintains historical records by documenting system software changes and revisions.
                    Prepares reference for users by writing operating instructions.
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>P</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=PLC+Programmer&l=">PLC Programmer</a>
                <br>
                <a href="https://www.indeed.com/salaries/PLC-Programmer-Salaries">Salaries</a>
                <p>Requirements and Responsibilities: The computerized controllers are known 
                  as programmable logic controllers. Trained personnel who design, program, 
                  operate, service and maintain these devices are performing duties that fit 
                  the job description of a programmable logic controller technician or 
                  engineer. They have the skills and knowledge to understand programming 
                  logic related to automation. Jobs normally require several years of 
                  experience in programming and control automation.
        
                </p>
        
                
        
                </li>
              </li>
        
              <li class="collection-header">
                <h5>Q</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Quality+Systems+Engineer&l=">Quality Systems Engineer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/quality-systems-engineer-salary-SRCH_KO0,24.htm">Salaries</a>
                <p>Requirements and Responsibilities: The quality systems engineer is the primary Quality Assurance 
                  resource for inspection of all incoming products. The position designs and recommends processes
                   for efficient and quality manufacturing. Support concurrent engineering efforts by participating 
                   in design development projects representing quality assurance and the customer.
                   Design, document and implement methods for process control, process improvement, testing and inspection.
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>R</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=Ruby+Developers&l=">Ruby Developers</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/ruby-developers-salary-SRCH_KO0,15.htm">Salaries</a>
                <p>Requirements and Responsibilities: A Ruby on Rails developer is responsible for writing server-side 
                  web application logic in Ruby, around the framework Rails. Ruby on Rails developers usually develop 
                  back-end components, connect the application with the other (often third-party) web services, and 
                  support the front-end developers by integrating their work with the application.
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>S</h5>
              </li>
        
              
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=SQL+Server+Database+Administrative&from=sug">SQL Server Database Administrative</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/sql-server-database-administrative-salary-SRCH_KO0,34.htm">Salaries</a>
                <p>Requirements and Responsibilities: SQL Server is a relational database management system (RDBMS) 
                  from Microsoft designed for the enterprise environment. SQL Server adds a number of features to 
                  standard SQL, including transaction control, exception and error handling, row processing, and declared variables.
                   Being effective as a SQL Server Database Administrator (DBA) therefore requires a thorough 
                   understanding of SQL Server’s advanced capabilities and a corresponding level of technical acumen and sophistication.
                   Must be capable of working independently and collaboratively.
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>T</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Test-Driven-Web-Developer-jobs.html">Test Driven Web Developer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/test-web-developer-driven-salary-SRCH_KO0,18_KE19,25.htm">Salaries</a>
                <p>Requirements and Responsibilities: Test-driven development (TDD) is a software development process 
                  that relies on the repetition of a very short development cycle: Requirements are turned into very 
                  specific test cases, then the software is improved to pass the new tests, only.
                  Very simular to Web Developer
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>U</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/jobs?q=ui+ux+developer&l=">UX/UI Developer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/ui-ux-designer-salary-SRCH_KO0,14.htm">Salaries</a>
                <p>Requirements and Responsibilities: The UX Developer is part designer and part developer; 
                  you must have creative skills and know html. Your job is to improve the website experience 
                  for visitors to a particular site each day. How a human being interacts with a computer encompasses:
                    
                    The creative design of a site
                    The ease of searching for particular information on a site
                    Links between pages
                    There are multiple categories related to structuring and organization of a site,
                     including how information is grouped and categorized. UX Developers often build prototypes 
                     of creative design concepts. Their job is to build an idea and test it out on the web.
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>V</h5>
              </li>
        
              <!-- <li class="collection-item">
                <a href="https://www.indeed.com/q-Value-Stream-Engineer-jobs.html">Value Stream Engineer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/value-stream-salary-SRCH_KO0,12.htm">Salaries</a>
                <p>Requirements and Responsibilities:
        
                </p>
        
              </li> -->
        
              <li class="collection-header">
                <h5>W</h5>
              </li>
        
              <li class="collection-item">
                <a href="https://www.indeed.com/q-Web-Services-Developer-jobs.html">Web Services Developer</a>
                <br>
                <a href="https://www.glassdoor.com/Salaries/java-web-services-developer-salary-SRCH_KO0,27.htm">Salaries</a>
                <p>Requirements and Responsibilities: Responsible for designing, coding and modifying websites, 
                  from layout to function and according to a client's specifications. Strive to create visually
                   appealing sites that feature user-friendly design and clear navigation.
                    
                    Regular exposure to business stakeholders and executive management, as well as the authority
                     and scope to apply your expertise to many interesting technical problems.
                    Candidate must have a strong understanding of UI, cross-browser compatibility, general web
                     functions and standards.
                    The position requires constant communication with colleagues.
                    
        
                </p>
        
              </li>
        
              <li class="collection-header">
                <h5>X</h5>
              </li>
        
              </li>
        
              <li class="collection-header">
                <h5>Y</h5>
              </li>
        
        
              </li>
        
              <li class="collection-header">
                <h5>Z</h5>
              </li>
        
        
        
              </li>
          </div>
            <!-- CAREERS SCRIPT -->
  <script>
    // Get input element
    let filterInput = document.getElementById('list');
    // Add event Listner
    filterInput.addEventListener('change', filterNames);

    function filterNames() {
      // Get value of input
      let filterValue =
        document.getElementById('list').value.toUpperCase();

      // Get names ul
      let ul = document.getElementById('names');
      //get li's from ul
      let li = ul.querySelectorAll('li.collection-item');

      //Loop through collection-item Li's
      for (let i = 0; i < li.length; i++) {
        let a = li[i].getElementsByTagName('a')[0];
        //If matched
        if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }
  </script>
    </div>