<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <h1 style="text-align: center; color: orange; background: none">
                <img src="http://4vector.com/i/free-vector-home-icon-clip-art_116990_Home_Icon_clip_art_hight.png" alt="" height="20" width="20"> HOME</h1>
        </div>



        <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-4">

                <div class="post-container" style="color: orange; text-shadow: 1px 1px darkmagenta; text-align: center; background-color:rgba(255, 255, 0, .1); margin-top: 4.5%; margin-left: 9%">
                    
                    
                    <h4>Save the Date</h4>
                    <a ng-href="https://plotcon.plot.ly/"><img style="margin-left: 5.5%" width="320" height="180" ng-src="https://s8.postimg.org/455p9dnmt/Screen_Shot_2017-11-12_at_10.44.18_AM.png"></a>
                    <br>
                    <br> 
                    <a ng-href="https://twitter.com/nodevember"><img style="margin-left: 5.5%"width="320" height="180" ng-src="https://s8.postimg.org/9o88qlcyd/Screen_Shot_2017-11-12_at_10.17.41_AM.png"></a> 
                    <br>
                    <br>
                    <h4>Software Developer Life?</h4>
                    <iframe id="ytplayer" type="text/html" style="margin-left: 5.5%" width="320" height="180" ng-src="https://www.youtube.com/embed?listType=search&list=SOFTWAREDEVELOPERLIFE"
                        frameborder="0"></iframe>
                    <br>
                    <br>
                    <h4>What Kind of Developer Are You?</h4>
                    <iframe id="ytplayer" type="text/html" style="margin-left: 5.5%" width="320" height="180" ng-src="https://www.youtube.com/embed?listType=search&list=FRONTENDDEVELOPER"
                        frameborder="0"></iframe>
                    <br>
                    <iframe id="ytplayer" type="text/html" style="margin-left: 5.5%" width="320" height="180" ng-src="https://www.youtube.com/embed?listType=search&list=BACKENDDEVELOPER"
                        frameborder="0"></iframe>
                    <br>
                    <iframe id="ytplayer" type="text/html" style="margin-left: 5.5%" width="320" height="180" ng-src="https://www.youtube.com/embed?listType=search&list=FULLSTACKDEVELOPER"
                        frameborder="0"></iframe>
                </div>

            </div>
            <br>
            <br>
            <div class="col-xs-9 col-sm-9 col-lg-8 ">
                <div>
                    <div class="post-container" style="background-color: rgba(255, 255, 0, .1); margin-left: -2%; margin-right: 4%">
                        <br>
                        <br>
                      
                            <div style="text-align: center;">
                            <textarea ng-model="post.post" placeholder="Have a question or comment, {{ me.username }}? What's up?" style="margin-left: 4.20%; border-radius: 5px"></textarea><br>
                        <a class="btn btn-warning btn-sm" ng-click="save()" role="button">POST</a>
                    </div>
                  
                        <br>
                        <br>
                        <br>
                        <div class="post-container" ng-repeat="p in posts | orderBy:'p.timestamp':false" style="margin-left: 8.5%; margin-right: 5%">
                            <div id="post-user">
                                <img ng-src="{{ p.profilepic }}" height="75" width="75" alt="" style="border-radius: 50%">
                                <h4>{{ p.username }}</h4>
                                <br>

                                <a ng-href="/posts/{{ p.id }}" ng-click="post()">
                                    <h4 style="color: darkmagenta; font-weight: normal">{{ p.post }}</h4>
                                    <p style="color: darkmagenta">{{ p.timestamp | date: 'short' : 'EST' }}</p>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>