<div class="container" >
  <body class="mult-body">
<h2 class="CC Quiz!"></h2>
<!-- <b1 class="<h2>CC Quiz!</h2> -->
        <div class="quiz-container">
          <div id="quiz"></div>
        </div>
        <button class="btn btn-warning btn-sm" id="previous">Previous Question</button>
        <button class="btn btn-warning btn-sm" id="next">Next Question</button>
        <button class="btn btn-warning btn-sm" id="submit">Submit Quiz</button>
        <div id="results"></div>
      </body>
</div>
