<div>
    <div>
        <div class="post-container" style="background-color: rgba(255, 255, 0, .1); color: darkmagenta; text-shadow: 2px 2px white">
            <div class="left">
                <p>
                    <img ng-src="{{ post.profilepic }}" height="75" width="75" alt="" style="border-radius: 50%">
                    <h4>{{ post.username }}</h4>
            </div>
            <div class="right">
                <h4>{{ post.post }}</h4>
                <h5>{{ post.timestamp | date: 'short' }}</h5>
                <!-- <h5>{{ p.replies | number}}</h5>  -->
                </p>

                <div class="container">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-1">EDIT</button>
                    <div class="modal" id="modal-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    <h1 class="modal-title">EDIT COMMENT</h1>

                                    <div class="modal-body">
                                        <form class="my-form">
                                            <div class="form-group">
                                                <textarea class="form-control" ng-model="post.post"></textarea>
                                            </div>
                                            <input class="btn btn-warning" ng-click="savePost()" value="Save" data-dismiss="modal">
                                            <button class="btn btn-danger" ng-click="deletePost()">Delete</button>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p style="margin-left: 6%">
            <input id="reply" type="text" ng-model="reply.reply" placeholder="reply to {{ post.username }}..." size="153">
            <a class="btn btn-warning btn-sm" ng-click="saveReply()" role="button">REPLY</a>
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="post-container" ng-repeat="r in replies">
                <!-- issue loading replies -->
                <img ng-src="{{ r.profilepic }}" height="75" width="75" alt="" style="border-radius: 50%">
                <h4>{{ r.username }}
                    <br> {{ r.reply }}</h4>
                <h5>{{ r.timestamp | date: 'short' }}</h5>
                <br>
                <div class="container">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-2">EDIT</button>
                    <div class="modal" id="modal-2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    <h1 class="modal-title">EDIT REPLY</h1>

                                    <div class="modal-body">
                                        <form class="my-form">
                                            <div class="form-group">
                                                <textarea class="form-control" ng-model="r.reply"></textarea>
                                            </div>
                                            <input class="btn btn-warning"  ng-click="saveReply()" value="Save" data-dismiss="modal">
                                            <button class="btn btn-danger" ng-click="deleteReply()">DELETE</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>